
// Colors
$prim-color: #136031;

$accent-color: #FEE174;
$accent-color-hover: #DDBA4A;

$interactive-color: #F3A25A;
$interactive-color-hover: #DB813E;

$dropdown-menu-color: #FFFAE6;

$grey-light-color: #D9D9D9;
$grey-medium-color: #ADADAD;
$grey-dark-color: #6C6565;

$neutral-tint-10: #FFF;
$neutral-tint-40: #EEE;
$neutral-tint-100: #000;

// Shadows
$light-shadow-opacity: 0.2;
$dark-shadow-opacity: 0.8;